<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ReportsPrinting.Properties.Settings.CSDPrintingConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=;Persist Security Info=True;Jet OLEDB:Database Password=" providerName="System.Data.OleDb" />
    <add name="ReportsPrinting.Properties.Settings.WaecCommonConnectionString" connectionString="Data Source=waecgmvdbs;Initial Catalog=WaecCommon;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="ReportsPrinting.Properties.Settings.WaecCommonConnectionString1" connectionString="Data Source=waecgmvdbs;Initial Catalog=WaecCommon;Persist Security Info=True;User ID=ictdstaff;Password=StaffIctd.11" providerName="System.Data.SqlClient" />
    <add name="WaecCommonTrusted" connectionString="Server=waecgmvdbs;Database=WaecCommon;Trusted_Connection=True" providerName="System.Data.SqlClient" />
    <add name="WaecCommonEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=waecgmvdbs;initial catalog=WaecCommon;user id=ictdstaff;password=Wa123Ec321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WaecCommonDbContext" connectionString="metadata=res://*/Models.WaecCommonDBContext.csdl|res://*/Models.WaecCommonDBContext.ssdl|res://*/Models.WaecCommonDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=waecgmvdbs;initial catalog=WaecCommon;user id=ictdstaff;password=Wa123Ec321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WaecCommonDBEntities" connectionString="metadata=res://*/Models.WaecDBContext.csdl|res://*/Models.WaecDBContext.ssdl|res://*/Models.WaecDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=waecgmvdbs;initial catalog=WaecCommon;user id=ictdstaff;password=Wa123Ec321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>