<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CassConnectionString" connectionString="Data Source=.;Initial Catalog=Cass;Integrated Security=True" providerName="System.Dat.SwlClient"/>
    <add name="CassConnectionStringServer" connectionString="Data Source=waecgmvdbs;Initial Catalog=Cass;Integrated Security=True" providerName="System.Dat.SwlClient"/>
  </connectionStrings>
</configuration>